$bg: #ebebeb;
$primary: #764ba4;
$primary500: #532b7e;
$pink900: #db2044;
$pink700: #d121a8;
$blue900: #002766;
$blue400: #a3c2f486;
$blue500: #0b79ff;
$blue700: #0050b3;
$red300: #ffa39e;
$red500: #f5222d;
$red700: #cf1322;
$red900: #820014;
$green300: #b7eb8f;
$green500: #73d13d;
$green600: #52c41a;
$green900: #135200;
$yellow600: #faad14;
$bkash1: #d12454;
$bkash-bg: #f7cad7;
$nagad1: #f7941e;
$nagad-bg: #fcd7af;
