@import "../.../../../../../styles/shared/variables";
@import "../.../../../../../styles/shared/mixins";

.admin__noti {
  .container {
    padding: 15px;
    .noti {
      background-color: white;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 10px;

      .title {
        font-weight: 700;
        margin-bottom: 5px;
      }

      .desc {
        margin-bottom: 10px;
      }

      .created_at {
        opacity: 0.8;
        font-size: 14px;
        margin-bottom: 20px;
      }

      button {
        cursor: pointer;
        width: 100%;
        padding: 10px;
        background-color: $red700;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: 700;
      }
    }
  }
}
