@import "../../../../styles/shared/variables";
@import "../../../../styles/shared/mixins";

.card__main__balance {
  background-color: white;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 15px;
  position: relative;

  .title {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
  }

  .balance__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 15px;

    .balance {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 32px;
      margin-left: -8px;

      & > *:first-child {
        margin-right: -5px;
      }
    }

    .actions {
      .btn__add-balance {
        display: flex;
        align-items: center;
        @include add-shadow-light;
        border: none;
        background: linear-gradient(90deg, $pink900 0%, $pink700 100%);
        color: white;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: bolder;
        border-radius: 20px;
        cursor: pointer;

        & > *:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  hr {
    opacity: 0.5;
    margin: auto;
    margin-bottom: 20px;
  }

  .statistics {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 25px;
    gap: 10px;
    color: white;

    .earning {
      display: flex;
      justify-content: center;
      background-color: $blue500;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;

      .value {
        display: flex;
        align-items: center;

        & > *:first-child {
          margin-right: -2px;
          margin-left: 5px;
        }
      }
    }

    .stat-in-out {
      display: flex;
      align-items: center;
      gap: 10px;

      .in,
      .out {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        .label {
          font-size: 14px;
          opacity: 0.9;
          margin-bottom: 5px;
        }
        .value {
          display: flex;
          align-items: center;

          & > *:first-child {
            margin-right: -2px;
          }
        }
      }

      .in {
        background-color: $green600;
      }

      .out {
        background-color: $red500;
      }
    }
  }
}
