@import "../../../../styles/shared/mixins";
@import "../../../../styles/shared/variables";

.btn__view-more {
  @include add-shadow;

  background-color: $primary;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  // right: 15px;
  display: flex;
  align-items: center;
  width: 90px;
  justify-content: space-between;
}
