@import "../../styles/shared/variables";
@import "../../styles/shared/mixins";

.appbar {
  @include add-shadow-light;
  background: linear-gradient(90deg, $pink900 0%, $pink700 100%);
  color: white;
  padding: 15px 10px;
  display: flex;
  align-items: center;

  position: sticky;
  z-index: 1000;
  top: 0;

  & > *:first-child {
    cursor: pointer;
  }

  .title {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }

  .btn__admin__logout {
    cursor: pointer;
    margin-left: auto;
    background-color: transparent;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
  }
}
